.modal-note
	.modal-header
		h4.modal-title.pull-left
			span.glyphicon.glyphicon-file
			| 노트 작성

		.pull-right
			button.btn.btn-sm.btn-primary(ng-if='!data._id', ng-click='func.create()')
				span.glyphicon.glyphicon-ok
				| 추가
			button.btn.btn-sm.btn-primary(ng-if='data._id', ng-click='func.modify()')
				span.glyphicon.glyphicon-ok
				| 수정
			button.btn.btn-sm.btn-danger(ng-if='data._id', ng-click='func.remove()')
				| 삭제
			button.btn.btn-sm.btn-default(ng-click='func.cancel()')
				| 취소
		div(style='clear:both')

	.modal-body
	
		.btn-toolbar(style='margin-bottom:10px')
			.btn-group
				button.btn.btn-default.btn-sm(type='button', style='position:relative')
					span.glyphicon.glyphicon-camera
					div(style='width:100%;height:100%;position:absolute;background-color:yellow;top:0;left:0;overflow:hidden;opacity:0;')
						input(type='file', ng-file-select="func.uploadFile($files)", style='font-size:30px;')
				
				button.btn.btn-default.btn-sm(type='button', disabled)
					span.glyphicon.glyphicon-leaf
				button.btn.btn-default.btn-sm(type='button', disabled)
					span.glyphicon.glyphicon-map-marker
					
			//.btn-group
				button.btn.btn-default.btn-sm(type='button')
					span.glyphicon.glyphicon-globe

		
		div(style='margin-bottom:10px')
			.img-thumbnail(ng-repeat='attached in data.attachment',
				style='width:100px;height:100px;display:inline-block;margin-right:5px')
				div(style='width:100%;height:100%;background-image:url({{attached.path}});background-size:cover;background-position:50% 50%;position:relative')
					button.btn.btn-default.btn-xs(type='button',
						ng-click='func.removeFile(attached)')
						span.glyphicon.glyphicon-remove
					
			

		.input-group.input-group-sm
			input.form-control(ng-model='data.url',
				ng-keydown='func.inspectURL($event)',
				placeholder='http://')
			span.input-group-btn
				button.btn.btn-default(type='button',
					ng-click='func.inspectURL()')
					span.glyphicon.glyphicon-globe

		input.form-control.input-sm(ng-model='data.title',
			placeholder='Title',
			style='font-weight:bold')

		textarea.form-control.input-sm(ng-model='data.note',
			placeholder='Note',
			rows='5')

	.modal-footer
		.tm(style='float:left')
			| {{data.created | date}}


//.modal-footer
	button.btn.btn-sm.btn-primary(ng-click='func.bookmark()', ng-disabled='form.$invalid', disabled='disabled')
		span.glyphicon.glyphicon-ok
		| Bookmark
	button.btn.btn-sm.btn-default(ng-click='func.cancel()')
		| Cancel				