.modal-share

	.modal-header
		h4.modal-title
			span.glyphicon.glyphicon-share-alt
			| {{data.notes.length}} 개의 노트 공유하기

	.modal-body





		


		input.form-control.input-sm(ng-model='data.title',
			placeholder='Title',
			style='font-weight:bold')
			
		input.form-control.input-sm(ng-model='data.note',
			placeholder='note',
			style='font-weight:bold')

		img.img-thumbnail(ng-repeat='img in data.backgrounds', ng-src='{{img}}', width='100px', height='100px',
			ng-attr-style='{{img == data.backgroundImage ? "border-width:5px" : ""}}',
			ng-click='data.backgroundImage = img')

		input(type='hidden', ng-model='data.backgroundImage')


		//span
			| http://10.64.51.102:4321/share/{{refId}}		

	.modal-footer
		.tm(style='float:left')
			| {{note.created | date}}
		.pull-right
			button.btn.btn-sm.btn-primary(ng-click='func.share()', ng-disabled='data.notes.length == 0')
				span.glyphicon.glyphicon-ok
				| 공유
			button.btn.btn-sm.btn-default(ng-click='func.cancel()')
				| 취소

//.modal-footer
	button.btn.btn-sm.btn-primary(ng-click='func.bookmark()', ng-disabled='data.notes.length == 0', disabled='disabled')
		span.glyphicon.glyphicon-ok
		| Bookmark
	button.btn.btn-sm.btn-default(ng-click='func.cancel()')
		| Cancel				