.container

    .top_area(style='position:fixed;top:0;left:0;width:100%;bottom:0;z-index:-1;background-image:url("{{ data.board.backgroundImage }}");background-size:cover;')

    div(style='background-color:{{ data.board.backgroundColor }};color:#fff;margin-left:-15px;display:inline-block;padding:10px 20px 10px 15px;margin:15px 0 15px -15px;font-size:18px;border-radius:0 10px 10px 0;')
        //span.glyphicon.glyphicon-home(style='top:3px;margin-right:10px')
        a(ng-href='/neymar', style='color:#fff')
            span.glyphicon.glyphicon-home(style='top:3px;')
    



    div(style='position:absolute;top:15px;right:0;background-color:{{ data.board.backgroundColor }};color:#fff;padding:10px 15px 10px 15px;font-size:18px;border-radius:10px 0 0 10px;')

        | {{ data.board.title }}

        a(ng-show='data.board.createdBy == data.myId',
            ng-href='/neymar/board/{{ data.board.boardId }}/edit',
            style='color:#fff;margin-left:10px')
            span.glyphicon.glyphicon-cog(style='top:4px;')


        

    div
        .pull-right


            button.btn.btn-default(ng-click='modal.qrcode(data.board)',
                style='margin-bottom:5px;margin-right:5px;')
                span.glyphicon.glyphicon-qrcode        




            button.btn.btn-default(ng-show='data.board.createdBy == data.myId || !data.board.private',
                style='margin-bottom:5px;margin-right:5px;position:relative;overflow:hidden')
                span.glyphicon.glyphicon-camera
                div(style='width:100%;height:100%;position:absolute;background-color:yellow;top:0;left:0;overflow:hidden;opacity:0;')
                    input(type='file', ng-file-select="func.uploadFileAndCreate($files)", style='font-size:30px;')                

            a.btn.btn-default(ng-show='data.board.createdBy == data.myId || !data.board.private', href='/neymar/board/{{ data.board.boardId }}/note/edit',
            style='margin-bottom:5px;margin-right:-5px')
                | 메모 쓰기
        .clear

div.container(style='padding:0 5px 5px 5px')

    div.masonry(style='position:relative;')

        //- note-preview(ng-repeat='note in data.board.notes | orderBy : "created" : false' note='note')        
        note-preview(ng-repeat='note in data.board.notes | orderBy : "displayOrder" : false' note='note')


.clear


.container

    .pull-right

        button.btn.btn-default(ng-if='data.board.createdBy != data.myId', 
            ng-click='func.removeSharedBoard($event)',
            style='margin-bottom:15px;')
            | 메모판 보지않기

.footer
    button.btn.btn-default(ng-click='modal.user($event)')
        span.glyphicon.glyphicon-user