.panel.panel-default.board-edit
    .panel-heading(style='background-color:{{ data.backgroundColor }}')
        .pull-left
            button.btn(ng-click='func.cancel()')
                span.glyphicon.glyphicon-chevron-left

        .pull-right
            button.btn.btn-disabled(ng-if='!data.boardId', ng-click='func.create()', ng-class='data.title ? "btn-enabled": ""')
                span.glyphicon.glyphicon-ok
            button.btn.btn-disabled(ng-if='data.boardId', ng-click='func.modify()', ng-class='data.title ? "btn-enabled": ""')
                span.glyphicon.glyphicon-ok

        h4(style='text-align:center')
            | {{ data.titleForHeader }}


            
        div(style='clear:both')        

    .panel-body

        div
            .box(ng-repeat='color in data.colors',
                style='background-color:{{ color }};',
                ng-class='data.backgroundColor == color ? "selected" : ""',
                ng-click='data.backgroundColor = color'
                )
                .mask
            .clear

        div
            .box(ng-repeat='image in data.backgroundImages',
                style='background-image:url({{ image }});background-size:cover;border:1px solid #ccc;',
                ng-class='data.backgroundImage == image ? "selected" : ""',
                ng-click='data.backgroundImage = image'
                )
                .mask
            .clear


        input.form-control(ng-model='data.title',
            ng-required,
            placeholder='메모판 이름을 입력하세요.')
        //textarea.form-control(ng-model='data.note', rows='5',
            placeholder='메모판 설명을 입력하세요.')

        button.btn.btn-default.btn-block(ng-class='data.private ? "btn-danger" : "btn-success"',
            ng-click='data.private = data.private ? 0 : 1')
            span.glyphicon.glyphicon-lock(style='top:2px;margin-right:5px;')
            | 다른 사용자가 편집할 수 {{ data.private ? '없습니다.' : '있습니다.' }}

        div(ng-if='data.boardId')
            hr

            button.btn.btn-danger.btn-block(ng-click='func.board.remove(data)')
                | 메모판 삭제       


        .clear 

        //pre
            | {{ data | json }}

